* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: Karla, sans-serif;
}

:root{
    --title-font: Londrina Shadow;
}

main{
    width: 100%;
    height: 100%;
    background: none;
    position: relative;
    color: #293264;
    overflow: auto;
    padding-top: 40px;
    top:0;
}

h1,h2{
    color:#293264;
    margin:0;
}
h2{
    font-weight: 400;
    font-size: 2rem;
}
button{
    padding: 1rem 3rem;
    background: #4D5B9E;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----Header-----*/
.header{
    background: white;
    color:#293264;
    width: 100%;
    height: 65px;
    position:fixed;
    top:0;
    display: flex;
    padding: 1em;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}
.header .logo{
    font-size: 1.5em;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: var(--title-font);
    padding: .5em;
}
.reset-token-btn {
    color: #293264;
    background: none;
    font-size: 0.5rem;
    margin: 0em;
    padding: 1em 0em;

    flex-direction: column;
    align-items: center; /* Ensure children are aligned */
    gap: 0.6em;
    border-radius: 2em;
    border: rgba(0, 0, 0, 0.15) 1px solid;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);

    width: 90px;
}

#reset-icon {
    font-size: .9rem;
    position: relative; /* Required for ::after positioning */
}

#reset-icon::after {
    content: '';
    width: 200%; /* Slightly larger than the text */
    height: 5px; /* Thickness of the underline */
    background: #293264; /* Solid color for the underline */
    border-radius: 40%; /* Rounded edges for irregularity */
    position: absolute;
    left: 50%; /* Center align */
    transform: translateX(-50%) rotate(-0.5deg); /* Slight tilt for irregularity */
    bottom: -3px; /* Position slightly below the text */
    z-index: -1; /* Place it behind the text */
}

/*-----Start Screen-----*/

.quiz{
    width: 100%;
    height: 100%;
    padding-top:30px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.start-screen-card{
    display: flex;
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255,80%);
    padding: 2em;

    border-radius: 2em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}
.start-screen-card h1{
    font-family: var(--title-font);
    letter-spacing: 1px;
    font-size: 2.3em;
    font-weight: 400;
    text-align: center;
}
.start-screen-card h2{
    font-size: 1.1em;
    margin-top: .3em;
    color: #7c85ab;
}
.dropdowns{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    margin:2em 0;
    color: #293264;
}
.dropdowns label{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: .5em;
    margin: .5em;
    font-size: .9em;
}

.dropdowns select {
  /* Core styles */
  appearance: none; 
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: .9em;
  color: #7c85ab;
  background: #F5F7FB;
  /* Add custom dropdown arrow */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px auto;
  cursor: pointer;
  
  /* Prevent text overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.btn-start-quiz{
    margin-top: 1rem;
}

.background{
    height: 100%;
    width: 100%;
    background: #F5F7FB;
    overflow: hidden;
    z-index: -1;
    top:0;
}
.absolute{
    position: absolute;
}
.shape-yellow-start, .shape-yellow-quiz{
    margin:0;
    right: 0;
    top: 0;
}
.shape-yellow-start{
    height: 50%;
    transform: translate(45%, -40%);
}
.shape-yellow-quiz{
    height: 50%;
    transform: translate(50%, -40%);
}
.shape-blue-start, .shape-blue-quiz{
    margin:0;
    left: 0;
    bottom: 0;
}
.shape-blue-start{
    height: 60%;
    transform: translate(-40%, 40%);
}
.shape-blue-quiz{
    height: 60%;
    transform: translate(-60%, 50%);
}

/*-----Quiz-----*/

.quiz-title,.question-container{
    width: 80vw;
    min-width: 300px;
    max-width: 800px;
}
.quiz-title{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: .8rem;
    text-align: center;
    margin-top: 2em;
    line-height: 1.2;
    font-size: 1.4rem;
     overflow: visible;
}

.quiz-title span{
    position: relative;
    overflow: visible;
}

.quiz-title span::before,
.quiz-title span::after {
    content: '';
    height: 2px; 
    background: #293264; 
    border-radius: 40%; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(-.5deg); 
    z-index: -1;
}

.quiz-title span::before {
    width: 95%;
    bottom: -2px;
}

.quiz-title span::after {
    width: 100%;
    bottom: 3px; /* Position of the second line (closer to text) */
}

.difficulty-pill{
    border-radius: 1.5em;
    padding: .5em 2em;
    background: #FFA726;;
    color: #fff;
    font-size: .8rem;
}
.pill-all{
    background: #64B5F6;
    color: gray;
}
.pill-easy{
    background: #81C784 ;
}
.pill-medium{
    background: #FFD54F ;
    color: #2d2d2d;
}
.pill-hard{
    background: #E57373 ;
}
.question-container{
    background: rgb(255,255,255,75%);
    padding: 2em;
    border-radius: 3em;
    margin-top: 2em;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.15);
}
.quiz-question{
    display: grid;
    grid-template-columns: 60px 1fr;
    justify-content: flex-start;
    grid-gap: 1em;
    padding: 1rem 0;
}

.quiz-question:not(:last-child) {
    border-bottom: 2px solid #DBDEF0;
}

.quiz-block{
    display:flex;
    flex-direction: column;
    grid-gap: 1rem;
}
.quiz-options{
    display:flex;
    flex-wrap: wrap;
    font-size: .8rem;
    height: max-content;
    grid-gap: .5rem;
}
.quiz-number{
    user-select: none;
    font-weight: 700;
    font-size: 5rem;
    height: 100%;
    padding: 0;
    margin:0;
    line-height: .8;
}
.quiz-question h3{
     user-select: none;
     font-weight: 500;
}
.quiz-options label{
    border: 1px solid #4D5B9E;
    padding: .5em 1em;
    border-radius: 1em;
    min-width: 5rem;
    text-align: center;
}

.quiz-options input[type="radio"] {
    display: none;
}

.checked + label {
    background-color: #D6DBF5;
    border: 1px solid  #D6DBF5;
}

.correct + label {
    background-color: #95d6a3;
    border: 1px solid  #95d6a3;
}

.incorrect + label {
    background-color: #f7d9dc;
    border: 1px solid  #f7d9dc;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    margin: 2rem
}
.btn-container h3{
    color:#293264;
    font-size: 1rem;
}

.btn-check-answers{
    padding: .8rem 1.8rem;
    font-size: .8rem;
    border-radius: .8rem;
}
.btn-new-quiz{
    padding: .5rem 1.7rem;
    font-size: .7rem;
    border-radius: .7rem;
}

@media (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: .8em;
    }
    .quiz-question h2{ 
        font-size: 3em;
    }
    .quiz-question h3{ 
        font-size: 1em;
    }
    .btn-container{
        flex-direction: column;
    }
}

@media (max-width: 480px) {
   
    .quiz-question { 
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }
    .quiz-options{
        justify-content: center;
    }
    .quiz-question h2{ 
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: .3em;
        width: 70px;
        height: 70px;
        box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.1);
    }
}
